In [1]:
from dsmlibrary.datanode import DataNode
import json
from tqdm.auto import tqdm
import pandas as pd

In [2]:
dir_raw_id = 66
dir_process_id = 67

In [3]:
datanode = DataNode()

Init DataNode sucessful!

In [5]:
meta, fp = datanode.get_file(datanode.get_file_id(directory_id=dir_raw_id, name='ข่าวอาชญากรรมไทยและต่างประเทศ.csv'))
meta

{'owner': 'nutcha',
 'human_size': '29.97 KB',
 'name': 'ข่าวอาชญากรรมไทยและต่างประเทศ.csv',
 'description': 'file ข่าวอาชญากรรมไทยและต่างประเทศ.csv',
 'directory': 66,
 'path': 'nutcha/DSI310-11/rawData/ข่าวอาชญากรรมไทยและต่างประเทศ.csv'}

In [6]:
data = pd.read_csv('ข่าวอาชญากรรมไทยและต่างประเทศ.csv')
data

,Unnamed: 0,topic,descrip,date
0,1,Thailand's Youth Rebellion,"For five months, young protesters in Thailand ...",15 January 2021
1,2,Thailand's Youth Rebellion,"For five months, young protesters in Thailand ...",15 January 2021
2,5,Thailand warship capsizes during storm,Video from the Thai Navy shows the ship on its...,19 December
3,6,Thailand warship capsizes leaving 31 sailors m...,The navy is searching for survivors after the ...,19 December
4,7,Armagh man Odhran O'Neill dies in kayaking inc...,Odhran O'Neill from Lurgan was last seen on Sa...,18 December
...,...,...,...,...
179,262,Ben Davis: Oxford United sign Thailand youth m...,Oxford United sign Thailand youth internationa...,31 August 2021
180,263,Cumbria Police enlist volunteer horse riders t...,The six volunteers will work during the day to...,17 November
181,264,Blue Diamond Affair: Saudis end dispute with T...,Diplomatic ties resume after a 30-year row ove...,26 January
182,265,"MotoGP: Thailand Grand Prix cancelled, Dani Pe...",MotoGP's Thailand Grand Prix is cancelled afte...,21 July 2021
183,266,Thailand deaths: Police have 'number of suspects',Police investigating the deaths of two Britons...,16 September 2014

In [7]:
data = data.drop(['Unnamed: 0'], axis=1)

In [9]:
data

,topic,descrip,date
0,Thailand's Youth Rebellion,"For five months, young protesters in Thailand ...",15 January 2021
1,Thailand's Youth Rebellion,"For five months, young protesters in Thailand ...",15 January 2021
2,Thailand warship capsizes during storm,Video from the Thai Navy shows the ship on its...,19 December
3,Thailand warship capsizes leaving 31 sailors m...,The navy is searching for survivors after the ...,19 December
4,Armagh man Odhran O'Neill dies in kayaking inc...,Odhran O'Neill from Lurgan was last seen on Sa...,18 December
...,...,...,...
179,Ben Davis: Oxford United sign Thailand youth m...,Oxford United sign Thailand youth internationa...,31 August 2021
180,Cumbria Police enlist volunteer horse riders t...,The six volunteers will work during the day to...,17 November
181,Blue Diamond Affair: Saudis end dispute with T...,Diplomatic ties resume after a 30-year row ove...,26 January
182,"MotoGP: Thailand Grand Prix cancelled, Dani Pe...",MotoGP's Thailand Grand Prix is cancelled afte...,21 July 2021
183,Thailand deaths: Police have 'number of suspects',Police investigating the deaths of two Britons...,16 September 2014

In [10]:
datanode.write(df=data, directory=dir_process_id, name="ข่าวอาชญากรรมไทยและต่างประเทศ", profiling=True, lineage=[datanode.get_file_id(directory_id=dir_raw_id, name='ข่าวอาชญากรรมไทยและต่างประเทศ.csv')])

{'sucess': True,
 'file_id': 1057,
 'path': 'nutcha/DSI310-11/processData/ข่าวอาชญากรรมไทยและต่างประเทศ.parquet',
 'lineage': True}